@use '../abstracts/mixins' as *;

header {
    background-color: var(--color-bg-header);
    padding: 20px 10px;
}

.accessibility-container {
    background-color: var(--color-bg-accessibility-bar);
}

.cart-icon {
    --base-size: 1rem;
    height: var(--base-size);
    margin-right: 5px;
    width: var(--base-size);

    @include breakpoint-at-least(medium) {
        --base-size: 1.5rem;
    }

    @include breakpoint-at-least(large) {
        --base-size: 2rem;
    }
}
