@use '../abstracts/mixins' as *;

header {
    background-color: var(--color-bg-header);
    padding: 10px;
}

.accessibility-container {
    background-color: var(--color-bg-accessibility-bar);
}

.cart-icon {
    --base-size: 1.5rem;
    height: var(--base-size);
    width: var(--base-size);
}
