@use '../abstracts/' as *;

.item-main-image {
    border-radius: 15px;
    height: auto;
    max-width: 400px;
    width: 100%;
}

.description-container {
    margin-top: 75px;
}

.container-label {
    border-bottom: 1px solid var(--color-border-divider);
    margin-bottom: 5px;
    padding-bottom: 5px;
    width: 100%;
}
