@use '../abstracts/' as *;

.link {
    color: var(--color-text-primary);

    &:focus {
        outline: 2px dotted var(--color-border-primary);
        outline-offset: 4px;
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }
}

.skip-link {
    color: var(--color-text-primary);
    border-bottom: 1px solid transparent;
    margin-right: 25px;
    text-decoration: none;

    &:hover,
    &:focus {
        border-bottom: 2px dotted var(--color-border-primary);
    }
}

.github-link {
    border-radius: 50%;

    &:focus {
        outline: 2px dotted var(--color-border-primary);
        outline-offset: 5px;
    }
}

.github-link-image {
    border-radius: 50%;
    height: 32px;
    opacity: $low-emphasis;
    transition: opacity linear 200ms;
    width: 32px;

    &:hover {
        opacity: $high-emphasis;
    }
}

.nav-link {
    border-radius: 10px;
    color: var(--color-text-primary);
    text-decoration: none;

    &:focus {
        outline: 2px dotted var(--color-border-primary);
    }
}

.logo-link {
    color: var(--color-text-logo);
    padding-right: 15px;
    text-decoration: none;
    max-width: max-content;

    &:focus {
        outline: 2px dotted var(--color-border-primary);
        outline-offset: 5px;
    }
}

.shop-link,
.cart-link {
    padding: 10px;
    transition: background-color linear 200ms;

    &:hover {
        background-color: var(--color-bg-nav-hover);
    }
}

.shop-link {
    justify-self: end;
    margin-right: 20px;
    width: max-content;
}

.cart-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-self: center;
    max-width: max-content;
}
