@use '../abstracts/' as *;

%page-links {
    display: flex;
    padding: 10px;
    transition: background-color linear 200ms;
    width: max-content;

    &:hover {
        background-color: var(--color-bg-nav-hover);
    }
}

.cart-link {
    @extend %page-links;
    align-items: center;
}

.github-link {
    border-radius: 50%;

    &:focus {
        outline: 2px dotted var(--color-border-primary);
        outline-offset: 5px;
    }
}

.github-link-image {
    border-radius: 50%;
    height: 32px;
    opacity: $low-emphasis;
    transition: opacity linear 200ms;
    width: 32px;

    &:hover {
        opacity: $high-emphasis;
    }
}

.item-link {
    color: var(--color-text-primary);

    &:focus {
        outline: 2px dotted var(--color-border-primary);
        outline-offset: 2px;
    }

    &:hover {
        color: var(--color-link-hover);
    }
}

.link {
    color: var(--color-text-primary);

    &:focus {
        outline: 2px dotted var(--color-border-primary);
        outline-offset: 4px;
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }
}

.logo-link {
    color: var(--color-text-logo);
    padding-right: 15px;
    text-decoration: none;
    max-width: max-content;

    &:focus {
        outline: 2px dotted var(--color-border-primary);
        outline-offset: 5px;
    }
}

.nav-link {
    border-radius: 10px;
    color: var(--color-text-primary);
    text-decoration: none;

    &:focus {
        outline: 2px dotted var(--color-border-primary);
    }
}

.skip-link {
    color: var(--color-text-primary);
    border-bottom: 1px solid transparent;
    margin-right: 25px;
    text-decoration: none;

    &:hover,
    &:focus {
        border-bottom: 2px dotted var(--color-border-primary);
    }
}

.shop-link {
    @extend %page-links;
}
