.theme-toggle {
    border-radius: 50%;
    padding: 5px;
    transition: background-color linear 150ms;

    &:focus {
        outline: 2px dotted var(--color-border-primary);
    }

    &:hover {
        background-color: var(--color-bg-nav-hover);
    }
}

.theme-icon {
    --base-size: 1.5rem;
    height: var(--base-size);
    width: var(--base-size);
}
