@use '../abstracts/mixins' as *;

.accessibility-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint-at-least(medium) {
        justify-content: flex-start;
    }
}

.header-nav {
    display: grid;
    align-items: center;
    column-gap: 5px;
    grid-template-columns: 1fr 20% 25%;
    grid-template-rows: 1fr;
    margin-top: 20px;

    @include breakpoint-at-least(500px) {
        column-gap: 20px;
        grid-template-columns: 1fr 5rem 6rem;
    }
}
