@use '../abstracts/mixins' as *;

.accessibility-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;

    @include breakpoint-at-least(small) {
        align-items: flex-end;
        flex-direction: row;
    }
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    @include breakpoint-at-least(small) {
        align-items: flex-end;
        justify-content: space-evenly;
        max-width: clamp(100px, 30vw, 300px);
        width: 50%;
    }
}

.cart-button-container {
    @include breakpoint-at-least(small) {
        width: 40%;
    }

    @include breakpoint-at-least(large) {
        width: 50%;
    }
}
