@use '../abstracts/mixins' as *;

.accessibility-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 20px;
}

.header-nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: clamp(150px, 25vw, 250px);
    width: 50%;
}

.cart-button-container {
    width: 50%;

    @include breakpoint-at-least(large) {
        width: 60%;
    }
}
