@use '../abstracts/' as *;

.item-container {
    display: grid;
    gap: 20px 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 'images' 'details' 'add-cart';

    @include breakpoint-at-least(medium) {
        gap: 0 50px;
        grid-template-columns: max-content 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 'images details' '. add-cart';
    }

    @include breakpoint-at-least(x-large) {
        gap: 0 50px;
        grid-template-columns: max-content 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 'images details add-cart';
        max-width: 1200px;
    }
}

.item-images {
    grid-area: images;
}

.details-container {
    display: flex;
    flex-direction: column;
    grid-area: details;

    @include breakpoint-at-least(x-large) {
        max-width: 500px;
    }
}

.add-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
    grid-area: add-cart;
    margin: 50px auto 0;
    width: 100%;

    @include breakpoint-at-least(x-large) {
        margin: 0;
    }
}
