@use '../abstracts' as *;

body {
    font-family: $base-fonts;
}

.button {
    font-size: 1.125rem;
}

.button-contained {
    color: var(--color-text-contained-button);
    font-size: 1.125rem;
}

.button-delete {
    color: var(--color-button-delete);
}

.button-outline {
    color: var(--color-text-primary);
    font-size: 1.125rem;
}

.button-quantity {
    color: var(--color-text-primary);
}

.button-text {
    color: var(--color-button-text);
    font-size: 1.125rem;
}

.cart-item-name {
    font-size: 1.125rem;
}

.image-card-text {
    font-family: $brand-fonts;
    font-size: 2rem;
    text-align: center;

    @include breakpoint-at-least(medium) {
        font-size: 4rem;
    }
}

.item-link {
    @include breakpoint-at-least(x-large) {
        font-size: 1.5rem;
    }
}

.item-stock-warning {
    color: var(--color-text-item-warning);
    font-size: 0.9rem;
}

.logo-link {
    font-family: $brand-fonts;
    font-size: clamp(1rem, 10vw, 5rem);
}

.nav-link {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.quantity-input {
    color: var(--color-text-primary);
    font-size: 1.5rem;
    text-align: center;
}
