@use '../abstracts' as *;

body {
    font-family: $base-fonts;
}

.logo-link {
    font-family: $brand-fonts;
    font-size: clamp(1rem, 10vw, 5rem);
}

.nav-link {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.image-card-text {
    font-family: $brand-fonts;
    font-size: 2rem;
    text-align: center;

    @include breakpoint-at-least(medium) {
        font-size: 4rem;
    }
}

.image-unavailable {
    font-size: clamp(0.75rem, 5vw, 1.125rem);
    text-align: center;
}

.item-link {
    @include breakpoint-at-least(x-large) {
        font-size: 1.5rem;
    }
}

.item-stock-warning {
    color: var(--color-text-item-warning);
    font-size: 0.9rem;
}
